body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.App {
  text-align: center;
}

.game-container {
  position: relative;
  width: 800px; /* Largura da área do jogo */
  height: 600px; /* Altura da área do jogo */
  margin: 0 auto;
  background-color: #f0f0f0;
  border: 2px solid #000;
}

input {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
}